
        <h1>Latest Earthquakes</h1>
        <hr>
        <h3><%= @earthquakes_stored.count %> earthquakes recorded</h3>
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>id</th>
                <th>Magnitude</th>
                <th>Epicenter</th>
                <th>Time Happened</th>
                <th>Alerts Raised</th>
                <th>Map Location</th>
              </tr>
            </thead>
            <!-- Iterate Earthquakes Starts Here -->
            <% i = 1 %>
            <% @earthquakes_stored.each do |earthquake| %>
              <tbody>
                <tr>
                  <td><%= i %></td>
                  <td><%= earthquake['feedid'] %></td>
                  <td><%= earthquake['mag'] %></td>
                  <td><%= earthquake['place'] %></td>
                  <td><%= earthquake['time'] %></td>
                  <td><%= earthquake['alert'] %></td>
                  <td>
                  <a href="http://www.google.com/maps/place/<%= earthquake['latitude'] %>,<%= earthquake['longtitude'] %>"> Google Maps</a></td>

                </tr>
              </tbody>
            <% i += 1 %>
            <% end %>
            <!-- Iterate Earthquakes Ends Here -->
          </table>
        </div>