        <section id="main">
            <section id="content">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h2><%= @earthquakes_stored.count %> earthquakes recorded</h2>
                        </div>
                        
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">ID</th>
                                        <th data-column-id="feedid" >Feed ID</th>
                                        <th data-column-id="sender">Magnitude</th>
                                        <th data-column-id="sender">Epicenter</th>
                                        <th data-column-id="received" data-order="desc">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @earthquakes_stored.each do |earthquake| %>
                                    <tr>
                                        <td><%= earthquake['id'] %></td>
                                        <td><%= earthquake['feedid'] %></td>
                                        <td><%= earthquake['mag'] %></td>
                                        <td><%= earthquake['place'] %></td>
                                        <td><%= earthquake['time'] %></td>
                                    </tr>
                                <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </section>
        </section>